.start-btn-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.start-btn {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  background: #fff;
  border: 2px solid #c0c0c0;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
}
